* {
    margin: 0px;
    padding: 0px;
}

.sidebar {
    width: 25%;
    height: auto;
    text-align: center;
    position: absolute;
}

.sidebar ul {
    /* height:auto; */
    /* height: 400px; */
    margin-top: 40px;
    /* align-items: center; */
}

.sidebar ul li {
    /* padding: 16px; */
    font-size: 1.2rem;
    color: #818181;
    display: block;
    line-height: 50px;
    /* text-align: center; */
}

.sidebar ul li .main_icon {
    float: left;
    border: 2px solid;
    border-radius: 1.3rem;
    font-size: 2.8rem;
    /* padding: 12px; */
}

.sidebar ul li:hover {
    background-color: rgba(0, 0, 255, 0.123);
}

.header {
    height: 100px;
    /* margin-left: 30%; */
    background-color: #2f43538f;
    background-image: linear-gradient(to right, #e8e8e8, #989898);
}

h2 {
    color: #404040;
    margin-left: 5%;
    font-size: 25px;
    line-height: 50px;
    padding-top: 15px;
}

p1 {
    color: #404040;
    margin-left: 5%;
}

.input {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: none;
    outline: none;
    height: 25px;
    background: rgb(255, 255, 255);
    padding: 1rem .9rem;
}

.btn2 {
    background: none;
    outline: none;
    border: none;
    margin-left: 10px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: .35rem .9rem;
    background: #0fc13d;
    cursor: pointer;
}

.btn2 .fas {
    color: #fff;
}

.icons {
    color: #fff;
    margin-top: 20px;
}

.icons p2 {
    margin-left: 10%;
}

#group,
#playlist,
#playlist_name,
#screen,
#code,
#location,
#notes {
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
    border-radius: 0px;
}

#group:focus,
#playlist:focus,
#screen:focus,
#location:focus,
#notes:focus,
#code:focus {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid blue;
    border-radius: 0px;
}

#playlist_name:focus {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid blue;
    border-radius: 0px;
}

.cardFlip {
    width: 20%;
    height: 220px;
    margin-left: 3%;
    margin-top: 3%;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    box-shadow: -20px -5px 17px 7px rgba(0, 0, 0, 0.2);
    transform: scale(.8);
    transition: 0.6s ease-in-out;
    border-radius: 4px;
    /* -webkit-box-reflect: below 2px linear-gradient(rgba(105, 105, 105, 0.116), rgba(61, 61, 61, 0.3)); */
}

.font {
    position: absolute;
    bottom: 0%;
    color: #c2c1c1;
}


/* .adn {
    margin-top: 20px;
} */

.cardFlip:hover {
    transition: 0.6s ease-in-out;
    transform: scale(1);
}

.cardFlip:hover .appletext {
    transition: 0.6s ease-in-out;
    color: #a2ada6;
}

.cardFlip:hover .androidtext {
    transition: 0.6s ease-in-out;
    color: #119c44;
}

.cardFlip:hover .spanand {
    transition: 0.6s ease-in-out;
    font-size: 2rem;
    color: red;
}

.cardFlip:hover .windowtext {
    transition: 0.6s ease-in-out;
    color: #2f9cde;
    text-shadow: 0 15px 20px rgba(13, 207, 241, 0.5);
}


/* .appleCard {
    margin-top: -1px;
}

.windowCard {
    margin-top: -10px;
} */

.slide {
    margin-left: 1rem;
}

.boxes {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 8.5%;
    right: 2%;
    width: 74%;
    height: 78%;
    background: #2C2D35;
    border-radius: 0.4rem;
    transition: 0.1s ease-in-out;
    overflow: hidden;
}

@media screen and (max-width: 300px) {
    .cardFlip {
        height: 60px;
    }
}

@media screen and (max-width: 730px) {
    .buttons {
        display: block;
    }
}

@media screen and (max-width: 730px) {
    .icons {
        font-size: 6px;
    }
    .icons input {
        height: 20px;
    }
    .icons p2 {
        margin-left: 0;
        font-size: 7px;
    }
}

label #btn,
label #cancel {
    color: gray;
    font-size: 30px;
    cursor: pointer;
    display: none;
    margin-top: 20px;
    margin-left: 20%;
}

#check {
    display: none;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav p {
    font-size: 0.7rem;
    color: #94959E;
    margin-top: 0.1rem;
}

@media screen and (max-width: 730px) {
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 40%;
        left: -100%;
        text-align: left;
        transition: all 0.5s;
        background-color: rgba(211, 211, 211, 0.966);
        top: 120px;
        height: 100%;
        /* height: 70%; */
    }
    .sidebar {
        background-color: white;
    }
    .sidebar ul li {
        /* display: block; */
        font-size: 13px;
        padding: 12px;
    }
    #check:checked~ul {
        left: 0;
    }
    #check:checked~label #btn {
        display: none;
    }
    #check:checked~label #cancel {
        display: block;
    }
}

@media screen and (max-width: 730px) {
    #logo {
        width: 50%;
        height: 40px;
    }
}

@media screen and (max-width: 300px) {
    #logo {
        width: 30%;
        height: 30px;
    }
    .sidebar ul li {
        overflow: scroll;
        display: inline;
    }
    .sidebar ul li .main_icon {
        float: left;
        border: none;
        font-size: 2.1rem;
        padding: 0;
    }
    h2 {
        font-size: 12px;
    }
    .header p1 {
        font-size: 8px;
    }
    #add_button {
        width: 30%;
    }
}

.aspect_divs {
    background-Color: skyBlue;
    display: inline-block;
    text-Align: center;
    margin-right: 4%;
    cursor: pointer;
}

.aspect_divs:hover {
    background-color: rgb(235, 216, 191);
}